body
{
	text-align: center;
	font-size: 85%;
	padding: 0 2em;
	font-family: helvetica;
	background: #8e979e;
}

h1
{
	text-align: left;
	margin: .3em 0 -.3em 0;
	padding-left: .3em;
	color: white;
	font-weight: normal;
	font-size: 3em;
}

#container
{
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 550px;
}

textarea
{
	width: 40em;
	background: white url(images/content_top.jpg) 0 0 repeat-x;
}

#container ul
{
	text-align: left;
	color: Red;
	padding: 0 0 0 1em;
}

#container ul li.success
{
	color: #292929;
}

#main
{
	position: relative;
	float: left;
	overflow: hidden;
	padding: 1em;
	text-align: left;
	-moz-border-radius-topright: 1em;
	-moz-border-radius-bottomleft: 1em;
	background: white url(images/content_top.jpg) 0 0 repeat-x;
}

p small
{
	display: block;
}

#main img.loaderIcon
{
	width: 70px;
	position: absolute;
	top: 1em;
	right: 2em;
}
